html {
    scroll-behavior: smooth; 
}

.container {
    margin: 0 auto;    
    width: 1280px;
    background-color: #232020;    
}

.mem-container {
    width: 768px;
    height: 540px;
    
    overflow: hidden;
    margin: 0 auto;
}

.mem-sliders {
    width: 500%;
    height: 100%;    
    display: flex;  
    margin: 0 auto;
}

.mem-slide {
    width: 20%;
    transition: all 0.25s ease-in-out;
}

.text-slider {
    border: 2px solid yellow;
    width: 30%;
    margin: 70px 0 10px 190px;
    background-color: white;
}

.text-slider p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #232020;
    margin-left: 5px;
}

.pagination {
    position: absolute;
    display: flex;
    bottom: 420px;
    left: 660px;
    align-items: center;
    justify-content: center;
}

.pagination-bar {
    width: 25px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    opacity: 0.5; 
}

.pagination-bar:hover {
    opacity: 1;
    transition: 0.25s ease-in-out;
    background-color: yellow;
    transform: scale(1.1);
}

input[name="slides"] {
    position: absolute;
    visibility: hidden;
}

.mem-slide img {
    margin: 0 25%;
    width: 50%;
    height: 50%;
}

#slider1:checked ~ .slide1 {
    margin-left: 0;
}

#slider2:checked ~ .slide1 {
    margin-left: -20%;
}

#slider3:checked ~ .slide1 {
    margin-left: -40%;
}

#slider4:checked ~ .slide1 {
    margin-left: -60%;
}

#slider5:checked ~ .slide1 {
    margin-left: -80%;
}

@media (max-width: 1496px) {
    .pagination {
        position: absolute;
        display: flex;
        bottom: 120px;
        left: 570px;
        align-items: center;
        justify-content: center;
    }
}

/* .title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

.title:hover {
    color: #2361c4;
    transition: ease-in-out 0.25s;
}

.mem-container {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

.mem-slide {
    display: none;
}

.mem-slide.active {
    display: block;
}

.mem-slideimage {    
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1100px;
    width: 100%;
    height: 70vh;
    display: flex;
    position: absolute;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.description-mem {
    display: flex;
    position: absolute;
    font-size: 24px;
    flex-direction: column;
    margin: 75vh 1000px 20px 20px;   
}

.description-mem p {
    line-height: 0;
    color: white;
}

.pagination {
    display: flex;
    position: absolute;
    margin: 75vh 20px 20px 930px;
}

.pagination button {
    border: 10px solid #FFF;
    margin: 5px;
    border-radius: 20px;
}

.pagination button:hover {
    border: 10px solid blue;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
 */ 
